
.backgroundbody{
    background-image: url(./image/yunayi0.png);
    background-size: cover;
    background-repeat: no-repeat;

}
#backgroundfigth{
    background-image: url(./image/yunayi0.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-section {
    display: flex;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 50px;

    justify-content: center;
    align-items: center;
}

.form-div {
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
   
    width: auto;
    height: 100%;

    padding: 18px;
    border-radius: 16px;
}

.form-div div {
    color: #fff;

    margin-bottom: 10px;
}

.form-div div input.name-input,
.form-div div input.submit-input
{
    border: none;
    border-radius: 24px;

    padding: 6px;
}

#imagePreview {
    max-width: 100%;
    max-height: 300px;
    margin-top: 20px;
}

#imagePreview img {
    width: 100px;
    height: 100px;

    object-fit: contain;
}

/* .input-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .input-file + .label-file {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
    }
    
    .input-file:focus + .label-file,
    .input-file + .label-file:hover {
        background-color: rgb(100, 3, 3);
    } */
.figth{
    background-color: #fff;
    display: flex;
}